########################################
# Shared for .gitignore & .dockerignore
########################################

# Python
__pycache__/
.venv/
*.egg-info/

# DB
/db/.pgdata/

# Internal documents
/docs/internal/

########################################
# Only in .gitignore
########################################

# Common files
*.log
.env

!.gitkeep
